---
import {Image} from "@astrojs/image/components";

interface SuperStarPerformer {
  img: string;
  batch: number;
  name: string;
  company:string;
  branch:string;
  package:string;
}

export interface Props {
  superStarPerformer: SuperStarPerformer;
}

const {superStarPerformer} = Astro.props;
---

<div class="text-sans bg-slate-50 p-4 border-1 rounded-xl border w-1/6">
    <!-- Image  -->
    <img class="rounded-lg" src={superStarPerformer.img} alt="Super Star Performer Photo" />
    
    <!-- Batch  -->
    <div class="mt-2">
        <span class="text-sm font-medium px-2 py-1 rounded-full bg-gray-200 text-gray-700">{superStarPerformer.batch}</span>
    </div>

    <!-- Name  -->
    <div class="mt-1">
        <span class="text-lg font-semibold text-gray-900">{superStarPerformer.name}</span>
    </div>

    <!-- Company  -->
    <div>
        <span class="text-base font-normal text-gray-600">@{superStarPerformer.company}</span>
    </div>

    <!-- Branch  -->
    <div>
        <span class="text-base font-normal text-gray-600">{superStarPerformer.branch}</span>
    </div>

    <!-- Package -->
    <div class="text-center rounded-lg bg-gray-200 mt-1 p-2">
        <span class="text-lg font-semibold text-gray-900">{superStarPerformer.package}</span>
    </div>
</div>