---
import Layout from "../layouts/Layout.astro";
import { Navigation, Pagination, Scrollbar, A11y, Autoplay } from "swiper";
import { Swiper, SwiperSlide } from "swiper/react";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import "swiper/css/free-mode";
import IndustryInteractionSwiper from "../components/IndustryInteraction/IndustryInteractionSwiper";
import type { IndustryInteractionType } from "../env";

const IndustryInteractionData: IndustryInteractionType[] = [
  {
    companyLogo:
      "https://jobs.vibhaga.com/wp-content/uploads/2018/07/infosys-logo.jpg",
    companyName: "Infosys",
    themeColor: "#9BCEFD",
    description:
      "The Training and Placement department serves as a bridge between the academic environment and the industry by establishing connections with various companies and organisations. The ultimate aim of the T&P department is to ensure that students are well prepared for the job market and have access to the resources they need to achieve their career goals.",
    subdescription:
      "The Training and Placement department serves as a bridge between the academic environment and the industry by establishing connections with various companies and organisations.",
    eventImages: [
      {
        img: "https://i0.wp.com/www.blogs.hss.ed.ac.uk/pubs-and-publications/files/2018/04/conference-meeting-seminar.jpg?w=1352",
        alt: "image1",
      },
      {
        img: "https://mk0blogcolonialjxv0v.kinstacdn.com/wp-content/uploads/2020/07/meeting.jpg",
        alt: "image2",
      },
    ],
  },
  {
    companyLogo:
      "https://i1.wp.com/www.itvoice.in/wp-content/uploads/2016/12/Reliance_Jio_Logo_October_2015.png?ssl=1",
    companyName: "Jio",
    themeColor: "#FDA29B",
    description:
      "The Training and Placement department serves as a bridge between the academic environment and the industry by establishing connections with various companies and organisations. The ultimate aim of the T&P department is to ensure that students are well prepared for the job market and have access to the resources they need to achieve their career goals.",
    subdescription:
      "The Training and Placement department serves as a bridge between the academic environment and the industry by establishing connections with various companies and organisations.",
    eventImages: [
      {
        img: "https://i0.wp.com/www.blogs.hss.ed.ac.uk/pubs-and-publications/files/2018/04/conference-meeting-seminar.jpg?w=1352",
        alt: "image1",
      },
      {
        img: "https://mk0blogcolonialjxv0v.kinstacdn.com/wp-content/uploads/2020/07/meeting.jpg",
        alt: "image2",
      },
    ],
  },
];

// console.log(IndustryInteractionData.slice(0, 2));
---

<Layout
  title="Industry Interaction | TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main
    class="block !space-y-6 md:!space-y-12 lg:!space-y-24 w-full px-8 md:px-16"
  >

      <div class="w-full flex flex-col-reverse md:flex-row">
        <div class="h-full xl:w-1/2 md:w-1/2 sm:w-full p-3">
          <p class="text-4xl 2xl:text-6xl font-title mb-4">Industry Interaction</p>
          <p class="text-slate-600">
            The Training and Placement department serves as a bridge between the
            academic environment and the industry by establishing connections
            with various companies and organisations. The ultimate aim of the
            T&P department is to ensure that students are well prepared for the
            job market and have access to the resources they need to achieve
            their career goals.
          </p>
        </div>
        <div
          class="absolute bg-gray-400 w-96 h-96 -left-14 top-25 -z-10 rounded-full flex justify-center bg-gradient-to-l from-gray-100 to-white"
        >
          <div class="bg-white w-72 h-72 rounded-full mt-12"></div>
        </div>
        <div
          class="w-full flex align-middle xl:justify-center xl:gap-x-4 2xl:gap-x-8 flex-col xl:flex-row"
        >
          {
            IndustryInteractionData.slice(0,2).map((data) => (
              <div
                class={`border h-fit  rounded-2xl px-6 py-8 bg-blue-50 m-2 w-3/4 xl:w-2/4 2xl:w-2/6   
                       even:ml-auto xl:even:ml-0 xl:even:mt-24
                      `}
                style={{
                  borderColor: data.themeColor,
                  backgroundColor: data.themeColor + "33",
                }}
              >
                <img src={data.companyLogo} class="rounded-full w-12" />
                <p class=" mb-1 mt-3 ">{data.companyName}</p>
                <p class="text-slate-600 font-light text-sm">
                  {data.subdescription}
                </p>
                <a
                  href={'#'+data.companyName}
                  class={`block text-slate-600 text-center w-full bg-white rounded-full p-2 mt-4  hover:bg-opacity-50
                        active:bg-opacity-100 `}
                >
                  Read More ↓
                </a>
              </div>
            ))
          }
        </div>
      </div>
      <div class="space-y-6 lg:space-y-12" >
        {
          IndustryInteractionData.map((data) => (
            <div
              class={`w-full  rounded-2xl  flex flex-col lg:flex-row 
                even:lg:flex-row-reverse gap-8 xl:gap-12 2xl:gap-20 items-center
                p-4 lg:p-8  `}
                 id={data.companyName}
                 style={{
                  backgroundColor: data.themeColor + "33",
                }}
            >
              <div
                class={`flex flex-col w-full lg:w-1/2 self-start`}
              >
                <img
                  class="rounded-full w-12 mb-4 mt-4"
                  src={data.companyLogo}
                />
                <p class="text-3xl font-title mb-4">
                  {data.companyName} Industry Interaction
                </p>
                <p class=" text-sm xl:text-base text-slate-600 ">{data.description}</p>
              </div>
              <div class=" flex justify-center w-full lg:w-1/2">
                <IndustryInteractionSwiper client:load data={data.eventImages} />
              </div>
            </div>
          ))
        }
      </div>
  </main>
</Layout>
