---
import Layout from "../layouts/Layout.astro";
import { Navigation, Pagination, Scrollbar, A11y, Autoplay } from "swiper";
import { Swiper, SwiperSlide } from "swiper/react";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import "swiper/css/free-mode";
import IndustryInteractionSwiper from "../components/IndustryInteraction/IndustryInteractionSwiper";
import type { IndustryInteractionType } from "../env";

const IndustryInteractionData: IndustryInteractionType[] = [
  {
    companyLogo:
      "https://jobs.vibhaga.com/wp-content/uploads/2018/07/infosys-logo.jpg",
    companyName: "Infosys",
    themeColor: "#9BCEFD",
    description:
      "The Infosys Industry Interaction event organized by the Training and Placement department aimed to familiarize students with Infosys as a company, its culture, and its hiring process. Representatives from Infosys delivered presentations on the company's history, services, and core values. The event focused on the recruitment channels and selection procedures, providing students with insights into the skills and qualities sought by Infosys. A Q&A session allowed students to engage with the representatives and seek clarifications on career growth opportunities, work culture, and employee benefits. The event successfully bridged academia and industry, equipping students with valuable information for their future careers in the IT and consulting sector.",
    subdescription:
      "The Infosys Industry Interaction event organized by the Training and Placement department aimed to familiarize students with Infosys as a company, its culture, and its hiring process.",
    eventImages: [
      {
        img: "/IndustryInteraction/Infosys6.JPG",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Infosys3.JPG",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Infosys5.JPG",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Infosys2.JPG",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Infosys4.JPG",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Infosys1.JPG",
        alt: "image1",
      },
    ],
  },
  {
    companyLogo:
      "https://i1.wp.com/www.itvoice.in/wp-content/uploads/2016/12/Reliance_Jio_Logo_October_2015.png?ssl=1",
    companyName: "Jio",
    themeColor: "#FDA29B",
    description:
      "Jio, a leading Indian telecommunications company, organized an interactive event in collaboration with the Training and Placement department to introduce students to its transformative journey and unique corporate culture. Presentations highlighted Jio's impact on digital connectivity, emphasizing affordable high-speed internet access and digital inclusion. The event also focused on Jio's hiring process, highlighting desired attributes and the dynamic work environment that fosters innovation. A Q&A session allowed students to gain further insights and learn about career growth prospects. Overall, the event provided an immersive experience, inspiring students to envision a future with Jio and contribute to India's digital landscape with their pioneering vision.",
    subdescription:
      "Jio, a leading Indian telecommunications company, organized an interactive event in collaboration with the Training and Placement department to introduce students to its transformative journey and unique corporate culture.",
    eventImages: [
      {
        img: "/IndustryInteraction/Jio6.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio8.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio2.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio7.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio3.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio1.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio4.jpg",
        alt: "image1",
      },
      {
        img: "/IndustryInteraction/Jio5.jpg",
        alt: "image1",
      },
    ],
  },
];

// console.log(IndustryInteractionData.slice(0, 2));
---

<Layout
  title="Industry Interaction | TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main
    class="block !space-y-6 md:!space-y-12 lg:!space-y-24 w-full px-8 md:px-16"
  >

      <div class="w-full flex flex-col-reverse md:flex-row">
        <div class="h-full xl:w-1/2 md:w-1/2 sm:w-full p-3">
          <p class="text-4xl 2xl:text-6xl font-title mb-4">Industry Interaction</p>
          <p class="text-slate-600">
            The Training and Placement department serves as a bridge between the
            academic environment and the industry by establishing connections
            with various companies and organisations. The ultimate aim of the
            T&P department is to ensure that students are well prepared for the
            job market and have access to the resources they need to achieve
            their career goals.
          </p>
        </div>
        <div
          class="absolute bg-gray-400 w-96 h-96 -left-14 top-25 -z-10 rounded-full flex justify-center bg-gradient-to-l from-gray-100 to-white"
        >
          <div class="bg-white w-72 h-72 rounded-full mt-12"></div>
        </div>
        <div
          class="w-full flex align-middle xl:justify-center xl:gap-x-4 2xl:gap-x-8 flex-col xl:flex-row"
        >
          {
            IndustryInteractionData.slice(0,2).map((data) => (
              <div
                class={`border h-fit  rounded-2xl px-6 py-8 bg-blue-50 m-2 w-3/4 xl:w-2/4 2xl:w-2/6   
                       even:ml-auto xl:even:ml-0 xl:even:mt-24
                      `}
                style={{
                  borderColor: data.themeColor,
                  backgroundColor: data.themeColor + "33",
                }}
              >
                <img src={data.companyLogo} class="rounded-full w-12" />
                <p class=" mb-1 mt-3 ">{data.companyName}</p>
                <p class="text-slate-600 font-light text-sm">
                  {data.subdescription}
                </p>
                <a
                  href={'#'+data.companyName}
                  class={`block text-slate-600 text-center w-full bg-white rounded-full p-2 mt-4  hover:bg-opacity-50
                        active:bg-opacity-100 `}
                >
                  Read More ↓
                </a>
              </div>
            ))
          }
        </div>
      </div>
      <div class="space-y-6 lg:space-y-12" >
        {
          IndustryInteractionData.map((data) => (
            <div
              class={`w-full  rounded-2xl  flex flex-col lg:flex-row 
                even:lg:flex-row-reverse gap-8 xl:gap-12 2xl:gap-20 items-center
                p-4 lg:p-8  `}
                 id={data.companyName}
                 style={{
                  backgroundColor: data.themeColor + "33",
                }}
            >
              <div
                class={`flex flex-col w-full lg:w-1/2 self-start`}
              >
                <img
                  class="rounded-full w-12 mb-4 mt-4"
                  src={data.companyLogo}
                />
                <p class="text-3xl font-title mb-4">
                  {data.companyName} Industry Interaction
                </p>
                <p class=" text-sm xl:text-base text-slate-600 ">{data.description}</p>
              </div>
              <div class=" flex justify-center w-full lg:w-1/2">
                <IndustryInteractionSwiper client:load data={data.eventImages} />
              </div>
            </div>
          ))
        }
      </div>
  </main>
</Layout>
