---
import {Image} from "@astrojs/image/components";

interface StarPerformer {
  img: string;
  name: string;
  company:string;
  branch:string;
  package:string;
}

export interface Props {
    starPerformer: StarPerformer;
}

const {starPerformer} = Astro.props;
---

<div class="text-sans text-center bg-slate-50 p-4 border-1 rounded-xl border w-1/6">
    
    <!-- Image  -->
    <img class="rounded-lg" src={starPerformer.img} alt="Star Performer Photo" />

    <!-- Name  -->
    <div class="mt-1">
        <span class="text-lg font-semibold text-gray-900">{starPerformer.name}</span>
    </div>

     <!-- Branch  -->
    <div>
        <span class="text-base font-normal text-gray-600">{starPerformer.branch}</span>
    </div>

    <!-- Company  -->
    <div>
        <span class="text-lg font-semibold text-gray-900">{starPerformer.company}</span>
    </div>

    <!-- Package -->
    <div class="text-center rounded-lg bg-gray-200 mt-1 p-2">
        <div class="text-sm font-normal text-gray-600">per annum</div>
        <div class="text-lg font-semibold text-gray-900">{starPerformer.package}</div>
    </div>
</div>